body {
  background-color: #C1F8CF;
}

hr {


border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 10px;
  width: 20%;

}
h1{color: #006778;}
h3{color: #05595B;}
